In [18]:
# Use the dictionary,
#  port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"},
# and make a new dictionary in which keys become values and values become keys,
#  as shown: Port2 = {“FTP":21, "SSH":22, “telnet":23,"http": 80}

port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}
keys=list(port1.keys())
values=list(port1.values())
port2 = {values[i]: keys[i] for i in range(len(values))}
print(port2)

{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

In [22]:
# Take a list of tuple as shown below.
# [(1,2), (3,4), (5,6),(4,5)]
# Make a new list which contains the sum of the number of tuples.
# For example
# Input
# [(1,2), (3,4), (5,6)]
# Output
# [3, 7, 11]

tup=[(1,2), (3,4), (5,6),(4,5)]
final=[]
for i in tup:
    sum=0
    for j in i:
        sum+=j
    final.append(sum)
print(final)

[3, 7, 11, 9]